/* .accordion-button {
  display: block;
} */

div div div .weather {
  padding-bottom: 15rem;
}

div div div .food {
  padding-bottom: 15rem;
  padding-right: 5rem;
}

div div div .tasks {
  padding-bottom: 18rem;
}

div div div .perfectPair {
  padding-right: 5rem;
}
